.navbar {
    display: flex;
}

.sidebar {
    width: 10%;
    background-color: #aaaaaa;
    padding: 20px;
    height: 100vh;
}

.topbar {
    background-color: #bbbbbb;
    width: 100vw;
    height: 100px;
    display: flex;
}

.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar__logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__pages {
    align-self: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-right: 20px;
}

button {
    border: black 1px solid;
    background-color: #808080;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #6c6c6c;
}

.navbar__search input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: none;
    /* Remove the default border */
    border-radius: 15px;
    /* Add rounded edges */
    background-color: #E6F8C8;
    /* Set the yellow background color */
    color: #333;
    /* Set the text color */
    outline: none;
    /* Remove the outline on focus */
}

/* Add some styles for when the input is focused */
.navbar__search input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.245);
    /* Add a subtle box shadow on focus */
}